.BackgroundImage {
  width: 100vw;

  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  &.AdaptableBgImage {
    background-position: 80% center;
  }
  &.grid-talks {
    background-position: 40% center;
  }
}
