@import './variables.scss';

.ContentCmp {
  h1,
  h2 {
    font-weight: 200;
    color: var(--ab-color-blue);
  }
  h3 {
    font-weight: 200;
    color: var(--ab-color-blue);
    margin-bottom: 0.6666em;
    &:not(:first-child) {
      margin-top: var(--ab-space-4);
    }
  }

  h1,
  h2 {
    font-size: var(--ab-font-size-55);
    &:not(:first-child) {
      margin-top: var(--ab-space-3);
    }
  }
  h3 {
    font-size: var(--ab-font-size-5);
    &:not(:first-child) {
      margin-top: var(--ab-space-3);
    }
  }

  @media screen and (min-width: $bp1) {
    h1,
    h2 {
      font-size: var(--ab-font-size-8);
      &:not(:first-child) {
        margin-top: var(--ab-space-4);
      }
    }
    h3 {
      font-size: var(--ab-font-size-7);
      &:not(:first-child) {
        margin-top: var(--ab-space-4);
      }
    }
  }
}
