:root {
  --ab-color-footer-bg: rgb(67, 79, 97);
}

.Footer {
  background: var(--ab-color-footer-bg);
  ul {
    margin-left: 0 !important;
  }
}
.Footer .Footer-navbar-item {
  color: whitesmoke;
  &:hover {
    background: #fafafa;
    color: #656565 !important;
  }
}
