.Footer {
  background: var(--ab-color-footer-bg);
  a {
    text-decoration: none;
  }
  ul {
    list-style: none !important;
    text-align: left;
    margin-left: 0 !important;
    li {
      width: 100%;
    }
  }
}
